# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
nlp_feedback_env/
venv/
.env

# VSCode settings (optional)
.vscode/

distilbert-feedback-model/
distilbert-feedback-tokenizer/
